.add-link {
    text-decoration: none;
    color: white;
}

.details-link:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

.details-link {
    text-decoration: none;
    color: #145ca4;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    
    display: block;
    width: 100%;
    height: 100%;

    transition: all 0.3s ease-in-out;
}

.details-link:hover {
    color: #a61420; 
    letter-spacing: 2px;
}

.trips-add-button {     
    position: absolute;
    top: -40px;
}

.actions-container {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination li:nth-last-child(2)
{
    display: none;
}